/* ==UserStyle==
@name         Dark-Stylus
@version      0.1.0
@author       vednoc
@description  Dark theme for Stylus, the extension.
@namespace    gitlab.com/vednoc/dark-stylus
@homepageURL  https://gitlab.com/vednoc/dark-stylus
@supportURL   https://gitlab.com/vednoc/dark-stylus/issues
@updateURL    https://gitlab.com/vednoc/dark-stylus/raw/master/stylus.user.styl
@preprocessor stylus

@var text b_radius "Custom border radius" 4px

@var color dark    "Dark color.   " #222222
@var color darken  "Darken color. " #262626
@var color darker  "Darker color. " #2f2f2f
@var color light   "Light color.  " #d1d1d1
@var color lighter "Lighter color." #c9c9c9
@var color accent  "Accent color. " #7289da
@var color yellow  "Yellow color. " #f0c674
@var color orange  "Orange color. " #de935f
@var color red     "Red color.    " #a54242
@var color magenta "Magenta color." #b294bb
@var color violet  "Violet color. " #85678f
@var color blue    "Blue color.   " #5f819d
@var color cyan    "Cyan color.   " #5e8d87
@var color green   "Green color.  " #8c9440
@var color white   "White color.  " #ffffff
@var color shadow  "Shadow color. " #00000020

==/UserStyle== */

@-moz-document regexp('^(moz|chrome)-extension://.*$')
    :root
        --dark    dark
        --darken  darken
        --darker  darker
        --light   light
        --lighter lighter
        --accent  accent
        --shadow  shadow
        --yellow  yellow
        --orange  orange
        --red     red
        --magenta magenta
        --violet  violet
        --blue    blue
        --cyan    cyan
        --green   green
        --white   white
        --t       transparent
        --radius  b_radius
        scrollbar-color var(--darker) var(--dark)

    i       = !important
    bg      = var(--dark)
    hl      = var(--darken)
    bd      = var(--darker)
    fg      = var(--light)
    cm      = var(--lighter)
    ac      = var(--accent)
    sh      = var(--shadow)
    yellow  = var(--yellow)
    orange  = var(--orange)
    red     = var(--red)
    magenta = var(--magenta)
    violet  = var(--violet)
    blue    = var(--blue)
    cyan    = var(--cyan)
    green   = var(--green)
    white   = var(--white)
    t       = var(--t)
    r       = var(--radius)
    btn     = calc(var(--radius) / 2)

    // Colors mixin.
    c(x, y = 0, z = 0, xi = 1, yi = 1, zi = 1)
        if x is a 'call' or x is a 'rgba'
            color: xi is 0 ? x : x i
        if y is a 'call' or y is a 'rgba'
            border-color: yi is 0 ? y : y i
        if z is a 'call' or z is a 'rgba'
            background-color: zi is 0 ? z : z i

    // Border radius mixin.
    radius()
        border-radius arguments

    body
        c cm 0 bg
        svg
            fill cm i
        a
            transition 0.15s ease
            c fg
            &:hover
                c ac
        input[type="checkbox"]:not(.slider)
            transition 0.15s ease
            c 0 cm
            &:hover
                c 0 cm cm
            &.checked, &:checked
                c 0 cm
                + .svg-icon.checked
                    fill ac i
            &.disabled, &:disabled
                opacity 0.5
                c 0 cm
                + .svg-icon.checked
                    opacity 0.5
                    fill cm i
                    + span
                        c cm
        select
            radius r
            transition 0.15s ease
            c fg bd bg
            box-shadow inset 0 2px 4px sh
            + .svg-icon
                fill fg i
            option
                c fg 0 bg
        input:not(.slider), button
            border 1px solid
            transition 0.15s ease
            background none
            radius r
            c cm bd bg
            box-shadow inset 0 2px 4px sh
            &:focus
                c fg 0 bd

        /// UserCSS -> Reset header's height.
        .has-warnings #header
            min-height unset
            max-height 40px

    // Dropdowns.
    .dropdown
        .dropdown-content
            radius r
            c cm 0 bg
            box-shadow 0 4px 8px 0 sh, 0 0 0 1px bd i
            a:first-child
                radius r r 0 0
            a:last-child
                radius 0 0 r r
            a:hover
                c fg 0 bd

    #header
        c cm bd bg
        box-shadow 0 0 16px sh
        h1, summary
            c fg
        @media (min-width: 850px)
            border-right-style solid
        @media (max-width: 850px)
            border-bottom-style solid
            transition 0.15s ease
            max-height 40px
            &:hover
                max-height 300px

    #stylus-popup
        .entry
            /// Striped colors.
            &:nth-child(even)
                c 0 0 t
                background linear-gradient(90deg, bd -100%, t)
            /// Style position.
            &:nth-child(-n + 10):before, &:nth-child(11):before
                c cm
            &:hover
                background linear-gradient(90deg, bd, t)
        .style-name::before
            z-index -1
            transition 0.15s ease
            background none

    // UserCSS warnings.
    .warnings
        padding 0.5rem
        border 1px dashed
        c 0 red bg
        // TODO: Custom setting.
        @media (max-width: 850px)
            max-height 30vh i

    // UserCSS popup.
    #message-box
        c 0 0 t
        /// Backdrop.
        &::before
            content ''
            top 0
            left 0
            right 0
            bottom 0
            z-index -1
            position absolute
            c 0 0 bd
            opacity 0.8
        /// Wrapper element.
        > div
            radius r
            c 0 0 t
            box-shadow 0 0 0 1px bd, 0 2px 8px -1px sh
        /// Header.
        &-title
            radius r r 0 0
            padding 0.75rem 2.5rem
            c 0 0 hl
            box-shadow inset 0 -1px bd
            /// Logo.
            &::before
                padding 0 1rem 1rem 0
                margin-left 0.5rem
                background-size cover
        /// Body.
        &-contents
            c 0 0 bg
            .config-body label
                c 0 bd
                &:last-child
                    padding-bottom 0.75em
            /// On/off switches.
            .onoffswitch
                > span
                    c 0 0 bd
                    box-shadow inset 0 2px 4px sh
                    &::before
                        transition 0.15s ease
                        c 0 0 bg
                        box-shadow inset 0 0 8px -4px ac, 0 2px 4px -1px sh
                > input:checked + span::before
                    c 0 0 ac
                    box-shadow inset 0 0 4px 2px sh
            .config-color
                .color-swatch
                    border none
                    radius r
                    box-shadow 0 0 0 1px bd
            /// Whitespace around reset icon.
            .config-reset-icon
                padding 0.15rem 0.25rem
                margin-left 0.25rem
        /// Footer.
        &-buttons
            c cm 0 hl
            radius 0 0 r r
            box-shadow inset 0 1px bd
            button
                padding 0.4rem
                radius btn
                transition 0.15s ease
                background-image none
                c cm bd bg
                &:hover
                    c fg 0 bd

    // CodeMirror -> Wrapper.
    .CodeMirror
        c fg 0 bg
        /// Gutter background.
        &-gutters
            c fg 0 t
        /// Line numbers.
        &-linenumber
            opacity 0.6
            c cm
        &-focused
            outline ac auto 1px
        /// Applies to.
        .applies-to
            c: 0 bd hl

    // CodeMirror -> Syntax highlighting.
    .cm
        &-comment
            c cm
        &-keyword
            c red
        &-variable-2, &-def
            c fg
        &-tag, &-builtin
            c orange
        &-string
            c green
        &-variable-3, &-type, &-property
            c yellow
        &-number, &-atom
            c magenta
        &-string, &-qualifier
            c green

// Fix page colors for UserCSS source-files.
@-moz-document regexp('^file://.*\.user\.(css|styl|stylus|less)$')
    :root
        --dark    dark
        --lighter lighter

    body
        color var(--lighter)
        background-color var(--dark)
