/* ==UserStyle==
@name         Stylus Dark by Mew
@version      0.1.0
@author       vednoc
@description  Dark theme for Stylus, the extension.
@namespace    gitlab.com/vednoc/dark-stylus
@homepageURL  https://gitlab.com/vednoc/dark-stylus
@supportURL   https://gitlab.com/vednoc/dark-stylus/issues
@updateURL    https://gitlab.com/vednoc/theme_switcher/raw/master/stylus.user.styl
@preprocessor stylus

@var text b_radius "Custom border radius" 4px

@var color dark    "Dark color.   " #222222
@var color darker  "Darker color. " #2f2f2f
@var color light   "Light color.  " #d1d1d1
@var color lighter "Lighter color." #c9c9c9
@var color icon    "Icon color.   " #e1e1e1
@var color accent  "Accent color. " #7289da
@var color yellow  "Yellow color. " #f0c674
@var color orange  "Orange color. " #de935f
@var color red     "Red color.    " #a54242
@var color magenta "Magenta color." #b294bb
@var color violet  "Violet color. " #85678f
@var color blue    "Blue color.   " #5f819d
@var color cyan    "Cyan color.   " #5e8d87
@var color green   "Green color.  " #8c9440
@var color white   "White color.  " #ffffff
@var color shadow  "Shadow color. " #00000020

==/UserStyle== */

@-moz-document regexp('^(moz|chrome)-extension://.*$')
    :root
        --dark    dark
        --darker  darker
        --light   light
        --lighter lighter
        --accent  accent
        --icon    icon
        --shadow  shadow
        --yellow  yellow
        --orange  orange
        --red     red
        --magenta magenta
        --violet  violet
        --blue    blue
        --cyan    cyan
        --green   green
        --white   white
        --t       transparent !important
        --radius  b_radius
        scrollbar-color: var(--darker) var(--dark)

    $dark    = var(--dark)
    $darker  = var(--darker)
    $light   = var(--light)
    $lighter = var(--lighter)
    $icon    = var(--icon)
    $accent  = var(--accent)
    $shadow  = var(--shadow)
    $yellow  = var(--yellow)
    $orange  = var(--orange)
    $red     = var(--red)
    $magenta = var(--magenta)
    $violet  = var(--violet)
    $blue    = var(--blue)
    $cyan    = var(--cyan)
    $green   = var(--green)
    $green   = var(--green)
    $white   = var(--white)
    $t       = var(--t)
    $radius  = var(--radius)
    $buttons = calc(var(--radius) / 2)

    // * Colors mixin.
    colors(x y z)
        if x is a 'call'
            color x !important
        if y is a 'call'
            border-color y !important
        if z is a 'call'
            background-color z !important

    // * Border radius mixin.
    radius()
        border-radius arguments

    body
        colors $lighter 0 $dark

    #header
        colors $lighter $darker $dark
        box-shadow 0 0 16px 0 $shadow
        h1, summary
            colors $light 0 0
        @media (min-width: 850px)
            border-right-style solid
        @media (max-width: 850px)
            border-bottom-style solid
            transition 0.15s ease
            max-height 45px
            &:hover
                max-height 300px


// Fix white page for UserCSS files.
@-moz-document regexp('^file://.*\.user\.(css|styl|stylus|less)$')
    :root
        --dark    dark
        --darker  darker
        --light   light
        --lighter lighter
        --accent  accent

    $dark    = var(--dark)
    $darker  = var(--darker)
    $light   = var(--light)
    $lighter = var(--lighter)
    $accent  = var(--accent)

    body
        color $lighter
        background-color $dark
